<div style="display: flex;">
    <app-sidebar></app-sidebar>
    <form class="p-4 border rounded shadow-sm cus-form" #registerForm="ngForm" (ngSubmit)="registerForm.form.valid && saveSkill()">
        <h3 class="mb-4">Add URL</h3>
        <div *ngFor="let item of getSupportUrlModel.supportUrls; let i=index" class="input-form-button card p-3">
          <div class="input-form">
            <div class="mb-3 flex">
              <div class="flex-1">
                <label for="urlType" class="form-label">URL Type <span class="text-danger">*</span></label>
                <select name="type-{{i}}" [(ngModel)]="item.type" (ngModelChange)="onTypeChange($event, getSupportUrlModel.supportUrls.indexOf(item))" class="form-select" id="urlType" required>
                  <option value=0>--- Select Url Type --</option>
                  <option *ngFor="let urlType of urlTypeOptions" [value]="urlType.value">{{urlType.key}}</option>
                </select>
              </div>
            
              <!-- URL -->
              <div class="flex-1">
                <label for="url" class="form-label">URL <span class="text-danger">*</span></label>
                <input name="url-{{i}}" [(ngModel)]="item.url" type="url" class="form-control" id="url" placeholder="Enter URL (e.g., https://example.com)" required />
                <div class="form-text">Please provide a valid URL (e.g., https://).</div>
              </div>
            </div>
          </div>
          <div class="input-button">
            <button type="button" *ngIf="item.id !='00000000-0000-0000-0000-000000000000'" (click)="updatePersanalInfo(item)"
            class="btn btn-info">Update</button>
          <button type="button" (click)="deletePersanalInfo(item.id, getSupportUrlModel.supportUrls.indexOf(item))"
            class="btn btn-danger">Delete</button>
          </div>
        </div>
        <!-- URL Type -->
        
      
        <!-- Submit Button -->
        <button type="button"  (click)="addSkill()" class="btn btn-success">Add</button>
            <button class="btn btn-primary">Submit</button>
      </form>
      
</div>