<div class="left-content p-30">
    <div class="logo">
        <a href="index.html">
            <span>My</span>
            <span>Resume</span>
        </a>
    </div>
    <div class="nav">
        <ul>
            <li><a href="#Home">Home</a></li>
            <li><a href="#About">About</a></li>
            <li><a href="">Work Profile</a></li>
            <li><a href="">Portfolio</a></li>
            <li><a href="">Education</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </div>
    <div class="left-footer">
        <div class="social-icons">
            <ul>
                <li><a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <div class="foot-contact">
            <ul>
                <!-- <li>xxxxxxxxxxx@gmail.com</li> -->
                <li>+91 90000XXXXX / 90XXXXXXXX</li>
            </ul>
        </div>
        
<div class="copy-rights">Copyright &copy;2019 All rights reserved</div>
    </div>

</div>