<div class="left-content p-30">
    <div class="logo">
        <a href="index.html">
            <span>My</span>
            <span>Resume</span>
        </a>
    </div>
    <div class="nav">
        <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#education">Education</a></li>
            <li><a href="#experience">Work Profile</a></li>
            <li><a href="#skill">Skill</a></li>
            <li><a href="#reference">Reference</a></li>
            <li><a href="#support-url">Support Urls</a></li>
        </ul>
    </div>

    <div class="left-footer">
        <div class="social-icons">
            <ul>

                <li *ngIf="urlLinkedin"><a [href]="urlLinkedin" target="_blank"><i class="bi bi-linkedin"
                            aria-hidden="true"></i></a></li>
                <li *ngIf="urlFacebook"><a [href]="urlFacebook" target="_blank"><i class="bi bi-facebook"
                            aria-hidden="true"></i></a></li>
                <li *ngIf="urlInstagram"><a [href]="urlInstagram" target="_blank"><i class="bi bi-instagram"
                            aria-hidden="true"></i></a></li>
                <li *ngIf="urlTwitter"><a [href]="urlTwitter" target="_blank"><i class="bi bi-twitter"
                            aria-hidden="true"></i></a></li>
                <li *ngIf="!isAuthenticate">
                    <a routerLink="login" title="Login">
                        <i class="bi bi-box-arrow-right"></i>
                        <span></span>
                    </a>
                </li>
                <li *ngIf="isAuthenticate">
                    <a (click)="signOut()" title="Login">
                        <i class="bi bi-box-arrow-left"></i>
                        <span></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>