<div style="display: flex;">
  <app-sidebar></app-sidebar>
  <form #registerForm="ngForm" class="p-4 border rounded shadow-sm cus-form"
    (ngSubmit)="registerForm.form.valid && saveExperience()">
    <h3 class="mb-4">Add Experience</h3>
    <div class="input-form-button card p-3" *ngFor="let experience of getExperienceModel.experiences; let i=index">
      <div class="input-form">
        <div class="mb-3 flex">
          <div class="flex-1">
            <label for="title" class="form-label">Title <span class="text-danger">*</span></label>
            <input type="text" name="title-{{i}}" [(ngModel)]="experience.title" class="form-control" id="title"
              placeholder="Enter job title" required />
          </div>

          <div class="flex-1">
            <label for="company" class="form-label">Company <span class="text-danger">*</span></label>
            <input type="text" name="company-{{i}}" [(ngModel)]="experience.company" class="form-control" id="company"
              placeholder="Enter company name" required />
          </div>

          <div class="flex-1">
            <label for="position" class="form-label">Position <span class="text-danger">*</span></label>
            <input type="text" name="position-{{i}}" [(ngModel)]="experience.position" class="form-control"
              id="position" placeholder="Enter position" required />
          </div>
        </div>

        <div class="form-check form-switch mb-3">
          <input class="form-check-input" [(ngModel)]="experience.isCurrent" name="isCurrent-{{i}}" type="checkbox"
            id="isCurrent" />
          <label class="form-check-label" for="isCurrent">Currently Working Here</label>
        </div>
        <div class="mb-3 flex">
          <div class="flex-1">
            <label for="duration" class="form-label">Duration <span class="text-danger">*</span></label>
            <input type="text" name="duration-{{i}}" [(ngModel)]="experience.duration" class="form-control"
              id="duration" placeholder="e.g., 2 years" required />
          </div>

          <div class="flex-1">
            <label for="startDate" class="form-label">Start Date <span class="text-danger">*</span></label>
            <input type="date" name="startDate{{i}}" [(ngModel)]="experience.startDate" class="form-control"
              id="startDate" required />
          </div>

          <div *ngIf="!experience.isCurrent" class="flex-1">
            <label for="endDate" class="form-label">End Date</label>
            <input name="endDate{{i}}" type="date" [(ngModel)]="experience.endDate" class="form-control" id="endDate" />
          </div>

        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description <span class="text-danger">*</span></label>
          <textarea class="form-control" name="description-{{i}}" [(ngModel)]="experience.description" id="description"
            rows="4" placeholder="Provide a brief description" required></textarea>
        </div>

      </div>
      <div class="input-button">
        <button type="button" *ngIf="experience.id !='00000000-0000-0000-0000-000000000000'" (click)="updatePersanalInfo(experience)"
          class="btn btn-info">Update</button>
        <button type="button" (click)="deletePersanalInfo(experience.id, getExperienceModel.experiences.indexOf(experience))"
          class="btn btn-danger">Delete</button>
      </div>
    </div>


    <button type="button" (click)="addExperience()" class="btn btn-success">Add</button>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>