<div style="display: flex;">
  <app-sidebar></app-sidebar>
  <form #registerForm="ngForm" class="p-4 border rounded shadow-sm cus-form" (ngSubmit)="registerForm.form.valid && saveEducation()">
    <h3 class="mb-4">Create Education Details</h3>
    <div class="input-form-button card p-3" *ngFor="let education of getEducationModel.educations;let i = index;">
      <div class="input-form">
        <div class="mb-3 flex">
          <div class="flex-1">
            <label for="institution-{{ i }}" class="form-label">Institution <span class="text-danger">*</span></label>
            <input [name]="'institute-'+i" #institute="ngModel" [(ngModel)]="education.institution" type="text" class="form-control" id="institution"
              placeholder="Enter institution name" required />
          </div>
          
          <div class="flex-1">
            <label for="degree" class="form-label">Degree <span class="text-danger">*</span></label>
            <input  [name]="'degree-'+i" [(ngModel)]="education.degree" type="text" class="form-control" id="degree" placeholder="Enter degree" required />
          </div>
        </div>

        <div class="form-check form-switch mb-3">
          <input  [name]="'isCurrent-'+i" class="form-check-input" [(ngModel)]="education.isCurrent" type="checkbox"
            id="isCurrent" />
          <label class="form-check-label" for="isCurrent">Currently Enrolled</label>
        </div>
        <div class="mb-3 flex">
          <div class="flex-1">
            <label for="duration" class="form-label">Duration <span class="text-danger">*</span></label>
            <input  [name]="'duration-'+i" [(ngModel)]="education.duration" type="text" class="form-control" id="duration"
              placeholder="e.g., 4 years" required />
          </div>
          <div class="flex-1">
            <label for="startDate" class="form-label">Start Date</label>
            <input  [name]="'startDate-'+i" [(ngModel)]="education.startDate" type="date" class="form-control" id="startDate" />
          </div>

          <div *ngIf="!education.isCurrent" class="flex-1">
            <label for="endDate"  class="form-label">End Date</label>
            <input  [name]="'endDate-'+i" [(ngModel)]="education.endDate" type="date" class="form-control" id="endDate" />
          </div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description <span class="text-danger">*</span></label>
          <textarea class="form-control"  [name]="'description-'+i" [(ngModel)]="education.description" id="description" rows="3"
            placeholder="Provide a brief description" required></textarea>
        </div>


        <div class="mb-3 flex">
          <div class="flex-1">
            <label for="gradingType" class="form-label">Grading Type <span class="text-danger">*</span></label>
            <select class="form-select"  [name]="'gradingType-'+i" [(ngModel)]="education.gradingType"
              (ngModelChange)="onGradingChange($event, getEducationModel.educations.indexOf(education))" id="gradingType" required>
              <option value="" disabled selected>Select grading type</option>
              <option *ngFor="let gradingeducation of gradingOptions" [value]="gradingeducation.value">{{gradingeducation.key}}
              </option>
            </select>
          </div>

          <div class="flex-1">
            <label for="grading" class="form-label">Grading <span class="text-danger">*</span></label>
            <input  [name]="'grading-'+i" [(ngModel)]="education.grading" type="number" step="0.01" class="form-control" id="grading"
              placeholder="Enter grading value" required />
          </div>
        </div>


      </div>
      <div class="input-button">
        <button type="button" *ngIf="education.id !='00000000-0000-0000-0000-000000000000'" (click)="updatePersanalInfo(education)"
          class="btn btn-info">Update</button>
        <button type="button" (click)="deletePersanalInfo(education.id, getEducationModel.educations.indexOf(education))"
          class="btn btn-danger">Delete</button>
      </div>
    </div>


    <button type="button" (click)="addEducation()" class="btn btn-success">Add</button>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>