<div class="wrapper">
    <div class="container">
        <app-header></app-header>
        <div>
            <div id="about" #about [@zoomIn]="isVisible.about ? 'in' : 'void'"
                [style.visibility]="isVisible ? 'visible' : 'hidden'">
                <app-personal-profile></app-personal-profile>
            </div>
            <div id="education" #education [@zoomIn]="isVisible.education ? 'in' : 'void'"
                [style.visibility]="isVisible ? 'visible' : 'hidden'">
                <app-education></app-education>
            </div>
            <div id="experience" #experience [@zoomIn]="isVisible.experience ? 'in' : 'void'"
                [style.visibility]="isVisible ? 'visible' : 'hidden'">
                <app-experience></app-experience>
            </div>
            <div id="skill" #skill [@zoomIn]="isVisible.skill ? 'in' : 'void'"
                [style.visibility]="isVisible ? 'visible' : 'hidden'">
                <app-skill></app-skill>
            </div>
            <div id="reference" #reference [@zoomIn]="isVisible.reference ? 'in' : 'void'"
                [style.visibility]="isVisible ? 'visible' : 'hidden'">
                <app-reference></app-reference>
            </div>
            <div id="support-url" #supporturl [@zoomIn]="isVisible.supporturl ? 'in' : 'void'"
                [style.visibility]="isVisible ? 'visible' : 'hidden'">
                <app-support-url></app-support-url>
            </div>
            
        </div>
    </div>
</div>