<div *ngIf="supportUrls" class="main-content">
    <div class="section1 p-30" id="SupportUrls">
        <div class="sec-title">
            <div class="pg-sub-title">Support URLs</div>
            <div class="pg-title">Support & Resources</div>
        </div>
        <div class="flex gap-5-per">
            <div *ngFor="let supportUrl of supportUrls.supportUrls" class="mb-3 pb-2">
                <!-- Type Section -->
                <div *ngIf="supportUrl.type" class="mb-1 text-primary fw-bold">
                    <a [href]="supportUrl.url" target="_blank">
                        {{ getUrlTypesEnumKey(supportUrl.type) }}
                    </a>
                </div>
              </div>
        </div>
        
    </div>
</div>