.user-initials {
    width: 120px;
    height: 120px;
    background-color: #007bff;
    color: white;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-family: 'Cursive', 'Arial', sans-serif;
    font-weight: bold;
  }
  .user-img{
    display: flex;
    justify-content: center;
  }
  .info-item {
    display: flex;
    align-items: center;
    gap: 0.5rem; /* Space between icon and text */
  }
  
  .info-item i {
    font-size: 1.2rem; /* Icon size */
  }
  
  .info-item strong {
    font-weight: 600;
  }
  