<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

<div *ngIf="personalInfo" class="main-content">
    <div class="section1 p-30" id="Home">
      <div class="sec-title">
        <div class="pg-sub-title">Home</div>
        <div class="pg-title">My Profile</div>
      </div>
      <div class="d-flex-align-center">
        <div class="user-img flex-1">
            <div class="user-initials">
              {{ personalInfo.firstname[0] }}{{ personalInfo.lastname[0] }}
            </div>
          </div>
        <div class="user-profile flex-1">
          <div class="pro-details">
            <div *ngIf="personalInfo.shortText" class="sm-text">{{ personalInfo.shortText }}</div>
            <div class="name">
              {{ personalInfo.firstname }} {{ personalInfo.middlename }} {{ personalInfo.lastname }}
            </div>
            <div *ngIf="personalInfo.designations" class="role">{{ personalInfo.designations }}</div>
          </div>
          <div *ngIf="personalInfo.details" class="text">{{ personalInfo.details }}</div>
          <div class="pr-list">
            <ul>
              <li *ngIf="personalInfo.dateOfBirth">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                {{ personalInfo.dateOfBirth }}
              </li>
              <li *ngIf="personalInfo.phoneNumber">
                <i class="fa fa-phone" aria-hidden="true"></i>
                {{ personalInfo.phoneNumber }}
              </li>
              <li *ngIf="personalInfo.address">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                {{ personalInfo.address }}
              </li>
            </ul>
          </div>
          <!-- <div class="social-icons-head">
            <ul>
              <li><a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
              <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  